In [ ]:
%%capture
!pip install yfinance
!pip install seaborn

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

ModuleNotFoundError: No module named 'yfinance'

### Exploratory Analysis of Stock Data

In [106]:
# Obtain historical data of a stock 
ticker = 'HLT'
start = '1997-01-01'
end = '2022-08-30'

yf_obj = yf.Ticker(ticker)
df = yf_obj.history(start=start, end=end)

In [107]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2193.000000,2193.000000,2193.000000,2193.000000,2.193000e+03,2193.000000,2193.000000
mean,78.429396,79.373184,77.448473,78.421122,2.863079e+06,0.001419,0.000222
std,31.957803,32.439811,31.471856,31.959036,2.316655e+06,0.014437,0.010406
min,33.555692,34.521755,31.860163,33.871143,2.049220e+05,0.000000,0.000000
25%,50.029363,50.499854,49.508343,50.009758,1.711000e+06,0.000000,0.000000
50%,72.914027,73.893861,71.697413,72.788269,2.338548e+06,0.000000,0.000000
75%,96.679295,97.978721,95.934899,96.804970,3.338700e+06,0.000000,0.000000
max,166.332814,167.609916,162.401714,162.770874,5.209640e+07,0.150000,0.487329

In [108]:
df.Dividends.unique()

array([0.     , 0.14364, 0.15   ])

In [109]:
df['Stock Splits'].unique()

array([0.        , 0.48732943])

In [110]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-12-12,41.756480,42.971926,41.658460,42.148560,12935478,0.0,0.0
2013-12-13,43.109155,43.873708,42.246579,43.324799,1224854,0.0,0.0
2013-12-16,45.245999,50.480262,42.187775,42.187775,4717690,0.0,0.0
2013-12-17,42.364207,43.109160,42.305397,42.756287,2313840,0.0,0.0
2013-12-18,42.795486,43.481626,42.462220,42.795486,2857846,0.0,0.0

In [111]:
df.corr()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Open,1.000000,0.999500,0.999403,0.998991,-0.152122,-0.011137,-0.015165
High,0.999500,1.000000,0.999154,0.999439,-0.145098,-0.010385,-0.013985
Low,0.999403,0.999154,1.000000,0.999494,-0.160858,-0.010369,-0.014733
Close,0.998991,0.999439,0.999494,1.000000,-0.153379,-0.010020,-0.014703
Volume,-0.152122,-0.145098,-0.160858,-0.153379,1.000000,0.007074,0.025373
Dividends,-0.011137,-0.010385,-0.010369,-0.010020,0.007074,1.000000,-0.002100
Stock Splits,-0.015165,-0.013985,-0.014733,-0.014703,0.025373,-0.002100,1.000000

### Exploratory Analysis of CPI and Interest Rate

In [112]:
df_cpi = pd.read_csv("data/CPIAUCSL.csv")
df_funds = pd.read_csv("data/FEDFUNDS.csv")

In [113]:
df_cpi.head()

         DATE  CPIAUCSL
0  1947-01-01     21.48
1  1947-02-01     21.62
2  1947-03-01     22.00
3  1947-04-01     22.00
4  1947-05-01     21.95

In [114]:
def append_columns(df, df_extra_col):
    df_extra_col['DATE'] = df_extra_col['DATE'].astype('datetime64[ns]')
    df_extra_col = df_extra_col.set_index('DATE')
    df_merged = df.merge(df_extra_col, left_index=True, right_index=True, how='left')
    return df_merged

data = df
data = append_columns(data, df_cpi)
data = append_columns(data, df_funds)
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CPIAUCSL,FEDFUNDS
Date,,,,,,,,,
2013-12-12,41.756480,42.971926,41.658460,42.148560,12935478,0.0,0.0,NaN,NaN
2013-12-13,43.109155,43.873708,42.246579,43.324799,1224854,0.0,0.0,NaN,NaN
2013-12-16,45.245999,50.480262,42.187775,42.187775,4717690,0.0,0.0,NaN,NaN
2013-12-17,42.364207,43.109160,42.305397,42.756287,2313840,0.0,0.0,NaN,NaN
2013-12-18,42.795486,43.481626,42.462220,42.795486,2857846,0.0,0.0,NaN,NaN

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2193 entries, 2013-12-12 to 2022-08-29
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          2193 non-null   float64
 1   High          2193 non-null   float64
 2   Low           2193 non-null   float64
 3   Close         2193 non-null   float64
 4   Volume        2193 non-null   int64
 5   Dividends     2193 non-null   float64
 6   Stock Splits  2193 non-null   float64
 7   CPIAUCSL      66 non-null     float64
 8   FEDFUNDS      66 non-null     float64
dtypes: float64(8), int64(1)
memory usage: 235.9 KB

In [116]:
# Fill in the first entry for CPI and funds rate
data.CPIAUCSL[0] = 159.4
data.FEDFUNDS[0] = 5.25
data = data.fillna(method='ffill', axis=0)

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [117]:
data.to_csv(f"data/{ticker}_raw_data.csv")

In [3]:
df = pd.read_csv("data/APPL_raw_data.csv")

In [4]:
df.corr()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CPIAUCSL,FEDFUNDS
Open,1.000000,0.999937,0.999917,0.999831,-0.384223,0.087613,0.010911,0.777158,-0.057351
High,0.999937,1.000000,0.999901,0.999916,-0.383469,0.087124,0.011205,0.776813,-0.057263
Low,0.999917,0.999901,1.000000,0.999921,-0.385286,0.087704,0.010892,0.777583,-0.057379
Close,0.999831,0.999916,0.999921,1.000000,-0.384382,0.087507,0.011171,0.777180,-0.057300
Volume,-0.384223,-0.383469,-0.385286,-0.384382,1.000000,-0.052960,-0.003776,-0.302134,-0.085187
Dividends,0.087613,0.087124,0.087704,0.087507,-0.052960,1.000000,-0.001688,0.087940,-0.013086
Stock Splits,0.010911,0.011205,0.010892,0.011171,-0.003776,-0.001688,1.000000,0.008481,-0.005376
CPIAUCSL,0.777158,0.776813,0.777583,0.777180,-0.302134,0.087940,0.008481,1.000000,-0.345102
FEDFUNDS,-0.057351,-0.057263,-0.057379,-0.057300,-0.085187,-0.013086,-0.005376,-0.345102,1.000000